<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiguan.douban.mapper.BookMapper">

    <select id="topSort" resultType="com.yiguan.douban.pojo.BookTagPojo">
        SELECT t1.sort
        FROM tag AS t1
        WHERE t1.number=(SELECT MAX(t2.number)
                         FROM tag as t2)
    </select>

    <select id="topBook" resultType="com.yiguan.douban.pojo.BookPojo">
        SELECT a.id, a.`name`,a.author,a.cover,a.introduction
        FROM book a
        WHERE INSTR(a.sort,#{topSort})>0
        ORDER BY a.number DESC
        LIMIT 0,#{num}
    </select>

    <select id="topNBookNewComment" resultType="com.yiguan.douban.pojo.BookNewCommentPojo">
        SELECT b.name,b.author,b.cover,c.content,c.date
        FROM book b,comment c
        WHERE b.id=c.target_id and b.id=#{id}
        ORDER BY c.date DESC
        LIMIT 0,#{num}
    </select>

    <select id="getUserIdByComment" resultType="com.yiguan.douban.pojo.BookGetUserIdPojo">
        	SELECT  user_id
        	FROM  book b,comment c
        	WHERE b.id=#{id} AND b.id=c.target_id
    </select>

    <update id="setSortFemaleNum">
            UPDATE tag
            SET female_number = female_number + #{num}
            WHERE INSTR(
            (SELECT book.sort
            FROM book
            WHERE id = #{id}),tag.sort)>0
    </update>

    <select id="getFemaleSortLike" resultType="java.lang.String">
            SELECT sort
            FROM tag t
            ORDER BY t.female_number DESC
            LIMIT 1
    </select>

</mapper>