<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiguan.douban.mapper.MovieRegionMapper">

    <select id="selectCountriesRegionsByMovieId" resultType="java.lang.String">
        SELECT
            r.name
        FROM
            movie_region mr,
            region r
        WHERE
            mr.movie_id = #{id}
        AND
            mr.region_id = r.id
    </select>

</mapper>