<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiguan.douban.mapper.MovieMapper">

    <sql id="movie">
        id,
        name,
        director,
        screenwriter,
        starring,
        type,
        language,
        date,
        length,
        other_name,
        Im_db,
        short_comment_number,
        comment_number,
        score,
        score_number,
	cover_url
    </sql>

    <resultMap id="MovieRegion" type="com.yiguan.douban.pojo.MoviePojo">
        <id column="id" property="id"/>
        <collection property="countriesRegions" select="com.yiguan.douban.mapper.MovieRegionMapper.selectCountriesRegionsByMovieId" column="id">
        </collection>
    </resultMap>
    
    <select id="selectAllMovies" resultMap="MovieRegion">
        SELECT
            <include refid="movie"/>
        FROM
            movie
    </select>

    <select id="findMovieById" resultMap="MovieRegion">
        SELECT
        <include refid="movie"/>
        FROM
        movie
        WHERE
            id = #{id}
    </select>

    <select id="selectMoviesTop50" resultMap="MovieRegion">
        SELECT
            <include refid="movie"></include>
        FROM
            movie
        WHERE
            id IN
            ( SELECT target_id FROM comment WHERE date(date) BETWEEN #{preTime} AND #{nowTime} GROUP BY target_id ORDER BY count(*) DESC )
        AND
            id IN
            ( SELECT mr.movie_id FROM movie_region mr, region r WHERE mr.region_id = r.id AND parent_id = 1 )
        LIMIT 0,50
    </select>
</mapper>
